body
{
    color: rgb(151, 144, 75);
    text-align: center;
    font-family: 'Arial';
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: rgba(4, 22, 179, 0.781)url("F:/header_git_pruebas/pruebagit/imagenes/logo1.png");
    box-shadow: 0px 2px 20px 0px rgb(0, 0, 0);
    color: rgba(116, 132, 192, 0.801);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #381201dc;
    margin: 0 auto;
    
}

#container h1
{
    font-size: 20px;
}
#post
{
    padding: 1em;
}

#container h2
{
    font-size: 40px;
}
#post
{
    padding: 1em;

}

#cabecera2 #tagline1
{
    padding: 0 0 0 1em;
    font-weight: lighter;
    font-size: 0.8em;
}